/* Asiance custom css */

header img {
    width: 128px;
}

send-upload-area img {
  filter: hue-rotate(150deg);
}

send-archive img {
    filter: hue-rotate(-220deg);
}

#expire-after-dl-count-select {
    display:none;
}

.expire-after-time-select-label {
    margin-right: .5rem;
}